{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Reserva - {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <header>
        <h1><a href="{% url 'home' %}">🛍️ Reserva </a></h1>
        <p>Seu estilo começa aqui.</p>
        <hr>
        {% include 'navbar.html'%}
        <hr>
    </header>
    
    {% block head %}
    {% endblock %}

    <main>

        {% block body %}
        {% endblock %}

    </main>

    <hr>


</body>
</html>